<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>The Programming Chronicles Code</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="/css/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen" /><![endif]-->
    <script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
</head>
<body>
<div class="container_16">
    <div class="grid_16">
        <span id="branding">The Programming Chronicles Code</span>
    </div>

    <div class="grid_16">
        <ul id="menu">
            <li><a id="menu_home" href="/index.html">Home</a></li>
            <li>&#167;</li>
            <li><a href="http://theprogrammingchronicles.com">Blog</a></li>
        </ul>
        <br/>&nbsp;
    </div>

    <div class="grid_4" id="reflist">
      <div class="block">
        <h3><a href="#">Projects</a></h3>
        <ul>
          <li><a href="/tdd-exercises/">Test-Driven Development</a></li>
          <!--<li><a href="/examples/">Blog Code Examples</a></li>-->
        </ul>
      </div>

      <div class="block" style="display: none;">
        <h3><a href="/basic">TODO</a></h3>
        <ul>
          <li></li>
          <li></li>
       </ul>
      </div>
    </div>

  <div class="grid_11 home_box" id="content_box">
    {{ content }}
  </div>

  <div class="clear"></div>
  </div>
</body>
</html>
